*{
    font: roboto;
}

html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

ul{
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 20px;

}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.sec-1{
    background-color: #1f2937;
    display: flex;
    flex-flow: column;
    margin-bottom: 50px;
    
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.sec-1-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 100px 0;
}

.hero-container{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 300px;
}

.hero-secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    width: 350px;
}

button{
    background-color: #3882f6;
    border: none;
    border-radius: .5rem;
    padding: 5px 24px;
    font-size: 15px;
    color: #e5e7eb;
    font-weight: bold;
}

.hero-image{
    width: 450px;
    height: 250px;
    background-color: gray;
}

